apiVersion: apps/v1
kind: Deployment
metadata:
  name: image-publisher
spec:
  replicas: 2
  selector:
    matchLabels:
      app: image-publisher
  template:
    metadata:
      labels:
        app: image-publisher
    spec:
      containers:
      - name: image-publisher
        image: devops-image-publisher:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
        env:
        - name: DATABASE_URL
          value: "jdbc:db2://62.44.108.24:50000/SAMPLE:currentSchema=FN24_2MI0700130"
        - name: DB_USER
          value: "db2admin"
        - name: DB_PASSWORD
          value: "db2admin"